<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>注册</title>



		<link rel="stylesheet" href="../static/Sys/css/font.css">
		<link rel="stylesheet" href="../static/Sys/css/sign.css">

		<link rel="stylesheet" href="../static/Sys/js/css/modules/layui-icon-extend/iconfont.css">
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="../static/Sys/css/font.css">



		<script type="text/javascript" src="/Sys/js/jquery-3.3.1.min.js">
		</script>
		<script src="../static/Sys/lib/layui/layui.js" charset="utf-8"></script>
		<script type="text/javascript" src="./js/xadmin.js"></script>
        <script src="/Sys/lib/layui/layui.js"></script>

	</head>
	<body class="layui-unselect lau-sign-body">
		<div id="gb1_fieldset">
			<fieldset id="gb1" class=" x-fieldset" style="width: auto;">
				<legend class="x-fieldset-header x-unselectable" id="ext-gen175">
					<span class="x-fieldset-header-text" id="ext-gen178">基本信息</span>
				</legend>


				<div class="x-fieldset-body" id="ext-gen177" style="width: auto; height: auto;">
					<div id="div11">
						<table width="100%" border="0" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td nowrap="" align="right">
										<span style="font-size:12px" id="aac003SpanId">
											<font color="red">*</font>姓名:
										</span>&nbsp;</td>
									<td nowrap="" colspan="1">
										<div class="x-form-item">
											<div class="x-form-element" id="ext-gen6">
												<input type="text" name="aac003" maxlength="25" label="姓名:" required="true" value="" id="aac003" class=" x-form-text x-form-field  x-form-invalid "
												 style="width: 160px;" />
												<div class="x-form-invalid-icon" id="ext-gen233" style="left: 162px; top: 0px; visibility: visible;" />
											</div>
										</div>
										<script type="text/javascript">
											Ext.onReady(function() {
												var aac003 = new Ext.form.TextField({
													allowBlank: false,
													width: 160,
													id: 'aac003',
													inputType: 'text',
													applyTo: 'aac003'
												});
											});
										</script>
									</td>

									<td nowrap="" align="right">
										<span style="font-size:12px" id="aac003SpanId">
											<font color="red">*</font>性别:
										</span>&nbsp;</td>
									<td class="layui-inline">
										<div class="layui-input-inline">
											<select name="modules" lay-verify="required" lay-search="">
												<option value="">男</option>
												<option value="1">男</option>
												<option value="1">女</option>
											</select>
										</div>
									</td>
									<td nowrap="" align="right">
										<span style="font-size:12px" id="aac003SpanId">
											<font color="red">*</font>出生日期:
										</span>&nbsp;</td>
									<td class="layui-inline">
										<div class="layui-input-inline">
											<input type="text" name="date" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" style="width: 160px;" >
										</div>
									</td>
									<td nowrap="" align="right">
										<span style="font-size:12px" id="aac004SpanId">
											<font color="red">*</font>年龄:
										</span>&nbsp;</td>
									<td nowrap="" colspan="1">
										<div class="x-form-item">
											<div class="x-form-element" id="ext-gen6">
												<input type="text" name="aac004" maxlength="25" label="年龄:" required="true" value="" id="aac004" class=" x-form-text x-form-field  x-form-invalid "
												 style="width: 160px;" />
												<div class="x-form-invalid-icon" id="ext-gen233" style="left: 162px; top: 0px; visibility: visible;" />
											</div>
										</div>
										<script type="text/javascript">
											Ext.onReady(function() {
												var aac004 = new Ext.form.TextField({
													allowBlank: true,
													width: 160,
													id: 'aac004',
													inputType: 'text',
													applyTo: 'aac004'
												});
											});
										</script>
									</td>
									<td nowrap="" align="right" rowspan = '2'>
										<div style="width:90px;height:120px;border:1px solid #000;float: left;">
											<input type="image" name="file" id="file" class="inputfile"> 
											上传图片
											</input>
										</div>
									</td>

									
								</tr>
								<tr>
									
									<td nowrap="" align="right">
										<span style="font-size:12px" id="aac003SpanId">
											<font color="red">*</font>身高:
										</span>&nbsp;</td>
									<td class="layui-inline">
										<div class="layui-input-inline">
											<input type="text" name="aac004" maxlength="25" label="年龄:" required="true" value="" id="aac004" class=" x-form-text x-form-field  x-form-invalid "
											 style="width: 160px;" />
										</div>
									</td>
									<td nowrap="" align="right">
											<span style="font-size:12px" id="aac003SpanId">
												<font color="red">*</font>体重:
											</span>&nbsp;</td>
										<td class="layui-inline">
											<div class="layui-input-inline">
												<input type="text" name="aac004" maxlength="25" label="年龄:" required="true" value="" id="aac004" class=" x-form-text x-form-field  x-form-invalid "
												 style="width: 160px;" />
											</div>
										</td>
										<td nowrap="" align="right">
											<span style="font-size:12px" id="aac003SpanId">
												<font color="red">*</font>民族:
											</span>&nbsp;</td>
										<td class="layui-inline">
											<div class="layui-input-inline">
												<select name="modules" lay-verify="required" lay-search="" style="width: 160px;" >
													<option value="">汉族</option>
													<option value="1">回族</option>
													<option value="1">土家族</option>
												</select>
											</div>
										</td>
										
									<td nowrap="" align="right" >
											<span style="font-size:12px" id="aac003SpanId">
												<font color="red">*</font>身份证号:
											</span>&nbsp;
									</td>
									<td class="layui-inline"  >
											<div class="layui-input-inline">
												<input type="text" name="aac004" maxlength="25" label="年龄:" required="true" value="" id="aac004" class=" x-form-text x-form-field  x-form-invalid "
												 style="width: 160px;" />
											</div>
									</td>
									
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		</fieldset>
		</div>
	</body>


	
	
	
	<script>
	layui.use(['form', 'layedit', 'laydate'], function(){
	  var form = layui.form
	  ,layer = layui.layer
	  ,layedit = layui.layedit
	  ,laydate = layui.laydate;
	  
	  //日期
	  laydate.render({
	    elem: '#date'
	  });
	  laydate.render({
	    elem: '#date1'
	  });
	  
	  //创建一个编辑器
	  var editIndex = layedit.build('LAY_demo_editor');
	 
	  //自定义验证规则
	  form.verify({
	    title: function(value){
	      if(value.length < 5){
	        return '标题至少得5个字符啊';
	      }
	    }
	    ,pass: [
	      /^[\S]{6,12}$/
	      ,'密码必须6到12位，且不能出现空格'
	    ]
	    ,content: function(value){
	      layedit.sync(editIndex);
	    }
	  });
	  
	  //监听指定开关
	  form.on('switch(switchTest)', function(data){
	    layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
	      offset: '6px'
	    });
	    layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
	  });
	  
	  //监听提交
	  form.on('submit(demo1)', function(data){
	    layer.alert(JSON.stringify(data.field), {
	      title: '最终的提交信息'
	    })
	    return false;
	  });
	 
	  //表单赋值
	  layui.$('#LAY-component-form-setval').on('click', function(){
	    form.val('example', {
	      "username": "贤心" // "name": "value"
	      ,"password": "123456"
	      ,"interest": 1
	      ,"like[write]": true //复选框选中状态
	      ,"close": true //开关状态
	      ,"sex": "女"
	      ,"desc": "我爱 layui"
	    });
	  });
	  
	  //表单取值
	  layui.$('#LAY-component-form-getval').on('click', function(){
	    var data = form.val('example');
	    alert(JSON.stringify(data));
	  });
	  
	});
	</script>
	
	
	<script>
		$(function() {
			var imgpath;
			var url = 'registerStuDeal'
			layui.use('upload', function() {
				var $ = layui.jquery,
					upload = layui.upload;
				//普通图片上传
				var uploadInst = upload.render({
					elem: '#test1',
					url: 'uploadImg',
					field: "photo" //默认是file
						,
					before: function(obj) {
						//预读本地文件示例，不支持ie8
						obj.preview(function(index, file, result) {
							$('#demo1').attr('src', result); //图片链接（base64）
						});
					},
					done: function(res) {
						//如果上传失败
						if (res.code > 0) {
							return layer.msg('上传失败');
						}
						imgpath = res.data;

					},
					error: function() {
						//演示失败状态，并实现重传
						var demoText = $('#demoText');
						demoText.html(
							'<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
						demoText.find('.demo-reload').on('click', function() {
							uploadInst.upload();
						});
					}
				});
			});


			layui.use('form', function() {
				var form = layui.form;

				//监听提交
				form.on('submit(register)', function(data) {
					var loginjson = JSON.stringify(data.field);
					var logindata = JSON.parse(loginjson);
					logindata.photo = imgpath;
					data = JSON.stringify(logindata)
					$.ajax({
						url: url,
						data: data,
						type: 'POST',
						dateType: 'json',
						contentType: 'application/json',
						success: function(data) {
							if (data == "success") {
								layer.msg("注册成功！", function() {

								});
							}
						},
						error: function(args) {
							layer.msg("账号已经存在或者信息未填完整，注册失败！", function() {

							});
						}
					});

				});
			});
		});
	</script>
</html>
