<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table  width="700px" border="1" cellpadding="0" cellspacing="0" style="table-layout: fixed; word-wrap: break-word;" >
 <tr>
   <th colspan = "8">用人单位劳动用工基本情况备案表</th>
 
 </tr>
 
 <tr>
   <td colspan = "5"></td>
   <td>截止日期:</td>
   <td colspan = "2">    年    月    日</td>
 </tr>
 
 
  <tr>
    <td>单位名称</td>
    <td colspan = "5"></td>
	<td>法定代表人</td>
	<td></td>
  </tr>
  <tr>
    <td>所有制性质</td>
    <td colspan = "3"></td>

	<td>上级主管</td>
	<td colspan = "3"></td>

  </tr>
  <tr>
    <td>登记注册地</td>
    <td colspan = "3"></td>
  
  	<td>实际经营地</td>
  	<td colspan = "3"></td>
  
  </tr>
 <tr>
    <td>组织机构代码</td>
    <td colspan = "3"></td>
  
  	<td>社会保险登记证号</td>
  	<td colspan = "3"></td>
  
  </tr>
  <tr>
    <td >详细通信地址</td>
    <td colspan = "5"></td>
  
  	<td>邮政编码</td>
  	<td></td>
  </tr>
  <tr>
    <td colspan = "2">上年度职工工资总额(万元)</td>
    <td colspan = "2"></td>
  	<td colspan = "2">上年度在岗职工
人均月工资(元)</td>
  	<td colspan = "2"></td>
  	
  </tr>
  <tr>
      <td colspan = "2">累计拖欠职工工资总额(万元)</td>
      <td colspan = "2"></td>
      <td >拖欠工资涉及职工人数</td>
      <td ></td>
	   <td >单位空缺岗位(人)</td>
	   <td ></td>	
    </tr>
  <tr  >
    <td  width="50px" rowspan = "8">劳动合同签订情况</td>
    <td rowspan = "2"  colspan = "2">劳动关系人员数</td>
  	<td rowspan = "2"></td>
  	<td >男职工</td>
  	<td></td>
  	<td>女职工</td>
  	<td></td>
  </tr>
  <tr  >
  	<td >在岗职工人数</td>
  	<td></td>
  	<td>非在岗职工人数</td>
  	<td></td>
  </tr>
  <tr  >
    <td colspan = "2">劳动关系人员数</td>
	<td></td>
  	<td >实签订人数</td>
  	<td></td>
  	<td>合同签订率%</td>
  	<td></td>
  </tr>
  <tr>
    <td rowspan = "4"  colspan = "2">实签劳动合同期限统计</td>
  	<td colspan = "4" >签订以完成一定工作任务为期限的劳动合同人数</td>
  	<td></td>
  </tr>
  <tr>
  	<td colspan = "4" >签订3年以下劳动合同人数</td>
  	<td></td>
  </tr>
  <tr>
  	<td colspan = "4" >签订3-10年劳动合同人数</td>
  	<td></td>
  </tr>
 <tr>
  	<td colspan = "4" >签订10年以上劳动合同和无固定期限劳动合同人数</td>
  	<td></td>
  </tr>
  <tr>

    <td colspan = "2"  >在岗职工中农民工人数</td>
  	<td></td>
  	<td>农民工签订合同人数</td>
  	<td></td>
  	<td>农民工劳动合同签订率</td>
  	<td></td>

  </tr>
  <tr>
    <td>其他情况</td>
    <td colspan = "2"  >使用劳务派遣人数</td>
  	<td></td>
  	<td>退休返聘人数</td>
  	<td></td>
  	<td>在册职工中残疾职工数</td>
  	<td></td>
  </tr>
  <tr>
    <td rowspan = "3" >参加社会保险情况</td>
    <td colspan = "2">保险类别</td>
  	<td>养老保险</td>
  	<td>医疗保险</td>
  	<td>失业保险</td>
  	<td>工伤保险</td>
  	<td>生育保险</td>
  </tr>
  <tr>

    <td colspan = "2">应参保人数</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
  </tr>
  <tr>
      <td colspan = "2">实参保人数</td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
  </tr>
  <tr>
    <td rowspan = "3" >用人单位盖章</td>
    <td rowspan = "3"  colspan = "3">    年     月     日</td>
  	<td rowspan = "3" >人力资源社会保障行政部门意见</td>
    <td rowspan = "3"  colspan = "3">    年     月     日</td>
  </tr> 
</table>
</body>
</html>